<% content_for(:title, "Tuck's Blog | Post") %>

<div class="row">
  <div class="col-md-12">
    <h1><%= @post.title %>, Posted on: <%= @post.date %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <pre class="chapter-text" style="white-space: pre-line;">
      <%= @post.body %>
    </pre>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <% if @post.comments.any? %>

    <h4>Here are the comments for this post:</h4>
    <ul>
      <% @post.comments.each do |comment| %>
      <li>
        <%= link_to comment.description, post_comment_path(@post, comment) %> |
        <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
        <%= link_to "Delete", post_comment_path(@post, comment),
        :data => {:confirm => "Are you sure?",
          :method => "delete"} %>
        </li>
    <% end %>
    </ul>
  </div>
</div>

  <% else %>
<div class="row">
  <div class="col-md-12 center">
    <p>There are no comments yet!</p>
    <% end %>

    <p><%= link_to "Add a comment", new_post_comment_path(@post) %></p>
    <p><%= link_to "Edit", edit_post_path(@post) %></p>
    <p><%= link_to "Delete", post_path(@post),
      :data => {:confirm => "You sure?",
      :method => "delete"} %></p>
    <p><%= link_to "Return to Posts", posts_path %></p>
  </div>
</div>
