<!DOCTYPE html>
<html>
<head>
  <title>TucksBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <h1>Tucks Blog Site</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center">
        <%= flash[:alert] %>
        <%= flash[:notice] %>
      </div>
    </div>
  </div>

</body>
</html>
